@model LibraryChornomorsk.Models.News

@{
    ViewData["Title"] = "Створення анотації";

}

<h1 align="center">Створити анотацію</h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <partial name="_Annotations" model=@Model />
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_CKEditor");
    }
}
