html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-banner-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-banner-content .logo {
    text-align: center;
    justify-content: center;
}

.header-banner-content .social-links a {
     color: white;
     margin-left: 10px;
     text-decoration: none;
     font-size: 1.5rem;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 5px;
    color: #000; 
    transition: color 0.3s ease-in-out;
}

    .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #439e44;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .navbar-nav .nav-link:hover::after {
        width: 100%;
        left: 0;
    }

    .navbar-nav .nav-link.active::after {
        width: 100%;
        left: 0;
    }
