<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Центральна міська бібліотека ім. І. І. Рядченка</title>
    <link rel="icon" href="/LibraryLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryChornomorsk.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <header>
        <div class="header-banner">

            <div class="header-banner-content">
                <div class="banner-text">
                    <h1>Центральна міська бібліотека</h1>
                    <h1>ім. І.Рядченка</h1>
                </div>
                <div class="logo">
                    <img src="/LibraryLogo.png" alt="Library Logo"/>
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/bibliotekaryadchenko/?locale=ru_RU" target="_blank">Facebook</a>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 position-relative">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Новини</a>
                        </li>
                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Категорії книг</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Каталог книг</a>
                        </li>
                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManagerUsers" asp-action="Index">Користувачі</a>
                            </li>
                        }
                    </ul>
                    <div class="d-flex align-content-sm-end ">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="text-center">
            &copy; 2025 - LibraryChornomorsk
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
