@using Microsoft.AspNetCore.Identity

@inject SignInManager<LibraryUser> SignInManager
@inject UserManager<LibraryUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            @{
                string imageUrl = User.FindFirst("picture")?.Value ?? WC.ImageStaticPath + "no-avatar.png";
            }
            @{
                if (imageUrl.Contains("no-avatar"))
                {
                    <img src="@imageUrl" rounded-circle" alt="Profile" referrerpolicy="no-referrer" style="width: 20%;" />
                }
                else
                {
                    <img src="@imageUrl" rounded-circle" alt="Profile" referrerpolicy="no-referrer" style="width: 50%;" />
                }
            }
            
    </li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привіт @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-warning text-dark border-0">Вийти</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Реєстрація</a>
    </li>
    <li class="nav-item">
            <a class="nav-link btn btn-success" id="login" asp-area="Identity" asp-page="/Account/Login">Вхід</a>
    </li>
}
</ul>
